---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Tools & Interests">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      My primary "tools" of choice include:
      <ul class="list-disc list-inside">
        <li>Typescript</li>
        <li>React</li>
        <li>Nest.Js</li>
        <li>Next.js</li>
        <li>MongoDB</li>
        <li>Postgres</li>
        <li>GraphQL</li>
        <li>Kubernettes</li>
      </ul>
    </p>

    <p class="text-sm font-light">
      While I have some preferred tools, I always do enough research to pick the best one for the
      job.
    </p>
    <p class="text-sm font-light">
      My goal is to find the right solution for each project, and not to force a project to fit the
      tools I know.
    </p>
    <p class="text-sm font-light">
      Beyond coding, I enjoy reading (mainly novels by Dostoevsky or Koontz), walking, and occasionally swimming.
    </p>
  </div>
</Card>
